In [1]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import MultinomialNB

In [2]:
question_data = pd.read_csv('questions.csv')
student_data = pd.read_csv('marks.csv')

In [3]:
question_data.head()

   MaxMarks  BloomLevel
0         4           3
1         5           1
2         2           4
3         5           5
4         8           3

In [4]:
student_data.head()

     1    2    3    4    5    6    7    8    9   10  Target
0  2.0  2.0  1.0  1.5  3.0  1.5  0.5  4.0  1.0  3.5       3
1  1.5  2.5  1.0  2.5  4.5  1.5  1.0  5.5  2.0  4.0       2
2  2.0  2.5  1.0  3.5  4.0  1.5  1.0  4.0  2.0  4.0       4
3  2.0  3.0  1.0  1.0  5.5  0.5  1.0  2.0  1.5  4.0       3
4  2.5  4.0  1.5  4.5  4.5  2.5  1.0  7.0  3.0  4.0       0

In [5]:
marks = student_data.as_matrix([str(i) for i in range(1, student_data.shape[1])])
target = student_data['Target'].as_matrix()

In [6]:
train_test_ratio = 0.7

In [7]:
ind = int(marks.shape[0] * train_test_ratio)
train_x, test_x = marks[:ind], marks[ind:]
train_y, test_y = target[:ind], target[ind:]

In [8]:
model = MultinomialNB()

In [9]:
model.fit(train_x, train_y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [10]:
model.score(test_x, test_y)

0.43333333333333335

#### Normalize before learning

In [11]:
max_marks = question_data['MaxMarks'].as_matrix()

In [12]:
norm_train_x, norm_test_x = train_x / max_marks, test_x / max_marks

In [14]:
norm_model = MultinomialNB()

In [15]:
norm_model.fit(norm_train_x, train_y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [16]:
norm_model.score(norm_test_x, test_y)

0.29999999999999999